@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container {
  background-color: white;
  border: 2px solid hsl(0, 0%, 94%);
  box-shadow: 3px 3px 3px #8f8d8d;
  width: 35%;
}

.todo-container div .todo-header,
.todo-container div .todo-entry,
.todo-container div .todo-list div {
  border-bottom: 2px solid #efefef;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-container div .todo-list {
  display: flex;
  flex-direction: column;
}

.todo-container div div .describtion,
.todo-container div .clear-all-completed span {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.todo-container div .clear-all-completed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  padding: 10px;
}

.todo-container div .todo-list .desc {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.todo-container div .todo-list .more {
  cursor: move;
}

.todo-container div div span input {
  font-style: italic;
  padding: 5px 0;
  font-size: 14px;
  outline-color: white;
  width: 130%;
}

.todo-container div .todo-list .desc input {
  width: 20px;
  height: 20px;
}

.todo-container div .todo-list .desc form input {
  width: 130%;
}

.todo-container div .clear-all-completed span {
  cursor: pointer;
}

.todo-container div .clear-all-completed span:hover {
  text-decoration: underline;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
